/*
  Author: Nishu
  For more information, visit https://github.com/amnweb/yasb/wiki
*/

/* Core Design Tokens */
:root {
  /* Backgrounds */
  --theme-bar-bg: #000;
  --theme-hover-bg: #111;
  --theme-popup-bg: #222;

  /* Borders & Accents */
  --theme-border: #333;
  --theme-accent: #aaa;

  /* Spacing & Layout */
  --widget-padding: 0px 12px;
  --radius-widget: 4px;
  --radius-popup: 6px;

  /* Typography */
  --theme-fg: #fff;
  --theme-fg-muted: #aaa;

  /* Fonts */
  --system-font: "JetBrainsMono NFP";
  --bar-font-size: 13px;
  --icon-font-size: 16px;
}

/* Global Reset */
* {
  /* font-size: 13px; */
  font-weight: 400;
  font-family: var(--system-font);
  font-size: var(--bar-font-size);
  /* font-weight: 500; */
  /* color: var(--theme-fg); */
}

/* Bar Container */
.yasb-bar {
  background-color: var(--theme-bar-bg);
  /* border-bottom: 1px solid var(--theme-border); */
  padding: 0px 12px;
  color: var(--theme-fg);
}

/* Base Widget */
.widget,
.widget * {
  color: var(--theme-fg);
  display: flex;
  align-items: center;
}

/* Tooltip */
.tooltip,
.tooltip * {
  background-color: var(--theme-popup-bg);
  border: 1px solid var(--theme-border);
  border-radius: var(--radius-popup);
  padding: 6px 12px;
  color: var(--theme-fg);
}

/* Clock */
.clock-widget {
  /* color: var(--theme-fg); */
  padding: var(--widget-padding);
  border-radius: var(--radius-widget);
}

.clock-widget:hover {
  /* background-color: var(--theme-hover-bg);
  border-radius: 4px; */
  cursor: pointer;
}

.clock-popup.calendar {
  /* min-width: 460px; */
  background-color: rgba(17, 17, 27, 0.4);
  /* border: 1px solid var(--theme-border); */
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  /* border-radius: var(--radius-popup); */
  /* border-radius: 12px; */
}

.clock-popup.calendar .calendar-table {
  /* background-color: #fff; */
}

.clock-popup.calendar .calendar-table,
.clock-popup.calendar .calendar-table::item {
  background-color: var(--theme-popup-bg);
  color: var(--theme-fg);
  /* border-radius: var(--radius-widget); */
  font-size: 13px !important;
}

.clock-popup.calendar .calendar-table::item:selected {
  color: var(--theme-bar-bg);
  /* font-weight: bold; */
  /* font-weight: 400; */
  /* background-color: var(--theme-fg); */
  background-color: var(--theme-fg-muted);
  /* background-color: var(--theme-accent); */
  /* border-radius: var(--radius-widget); */
  border-radius: 12px;
}

.clock-popup.calendar .day-label {
  /* margin-top: 20px; */
}

.clock-popup.calendar .day-label,
.clock-popup.calendar .month-label,
.clock-popup.calendar .year-label,
.clock-popup.calendar .date-label {
  font-size: 16px;
  color: var(--theme-fg);
  font-weight: 700;
  min-width: 180px;
  /* max-width: 180px; */
}

.clock-popup.calendar .month-label {
  font-weight: normal;
}

.clock-popup.calendar .year-label {
  font-weight: normal;
}

.clock-popup.calendar .date-label {
  font-size: 60px;
  font-weight: 900;
  /* color: rgb(255, 255, 255); */
  /* margin-top: -20px; */
}

.clock-popup.calendar .week-label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9em;
  font-weight: bold;
}

/* Power */
.power-menu-widget {
  /* transition: background-color 0.25s ease; */
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.power-menu-widget .label {
  font-size: var(--icon-font-size) !important;
  cursor: pointer;
}

.power-menu-popup {
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* padding: 12px; */
  background-color: rgba(20, 24, 33, 0.85);
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1); */
  padding: 12px;
  /* border: 1px solid var(--theme-border); */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* border-radius: var(--radius-popup); */
  /* border-radius: 12px; */
  /* color: #f00; */
  /* border: 1px solid rgba(255, 255, 255, 0.08); */
  /* border-radius: 16px; */
}

.power-menu-popup .button {
  min-width: 120px;
  /* max-width: 96px; */
  min-height: 132px;
  /* max-height: 120px; */
  /* min-height: 68px; */
  /* max-height: 68px; */
  margin: 10px;
  /* padding: 32px; */
  min-width: 200px;
  /* max-width: 180px; */
  /* min-width: 160px; */
  /* min-width: 220px; */
  max-width: 420px;
  /* max-width: 410px; */
  /* max-width: 530px; */
  /* max-width: 120px; */
  /* min-height: 120px; */
  /* max-height: 120px; */
  /* border: 1px solid var(--theme-border); */
  /* border-radius: var(--radius-popup); */
  /* border-radius: 10px; */
  /* border-radius: 100px; */
  /* border-radius: 4px; */
  /* background-color: var(--theme-hover-bg); */
  background-color: rgba(255, 255, 255, 0.04);
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* transition: background-color 0.25s ease; */
  transition:
    background-color 0.2s,
    border-color 0.2s;
  /* transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); */
  /* color: #f00; */
  /* background-color: #fff; */
  cursor: pointer;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  /* border: 1px solid rgba(255, 255, 255, 0.04); */
  outline: none;
  /* border: 1px solid rgba(255, 255, 255, 0); */

  /* display: flex; */
  /* flex-direction: column; */
}

.power-menu-popup .button:hover {
  background-color: rgba(255, 255, 255, 0.12);
  /* border: 1px solid rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 0.2); */
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  /* border: 1px solid rgba(0, 208, 255, 0.2); */
  /* background-color: #fff; */
  color: #fff;
}
.power-menu-popup .button .icon {
  /* margin-top: 16px; */
  /* font-size: 48px; */
  /* color: #fff; */
  margin-top: 4px;
  font-size: 32px;
  color: #aaa;
  /* color: inherit; */
  /* display: inline; */
}
.power-menu-popup .button .label {
  /* margin-bottom: 32px; */
  /* font-size: 16px; */
  /* color: #fff; */
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-size: 14px;
  font-weight: 500;
  font-weight: 400;
  color: #888;
  /* text-transform: uppercase; */
  /* letter-spacing: -1px; */
  /* letter-spacing: 1px; */
  /* color: inherit; */
  /* display: inline; */
}

.power-menu-popup .button.hover .icon,
.power-menu-popup .button.hover .label {
  color: #fff;
  color: rgb(0, 208, 255);
  color: #0df;
  /* letter-spacing: 1px; */
  text-transform: uppercase;
}

.power-menu-popup .button.hover .label {
  /* letter-spacing: 1px; */
}

.power-menu-popup .button.hover .icon {
  color: #ddd;
  /* color: rgb(0, 208, 255); */
  /* color: #f9ffe3; */
}

.power-menu-overlay {
  background-color: rgba(255, 255, 255, 0.1);
  /* background-color: rgba(10, 12, 16, 0.75); */
  /* color: #f00; */
}

.power-menu-overlay .uptime {
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  /* color: #6b7280; */
  color: #bbb;
}

.power-menu-popup .profile-info {
  margin: 12px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}

.power-menu-popup .profile-info .profile-username {
  padding-top: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #f3f4f6;
}

.power-menu-popup .profile-info .profile-account-type {
  margin: 4px 0;
  color: var(--theme-accent);
  color: #888;
  color: rgb(0, 208, 255);
  font-size: 13px;
  font-weight: 500;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
}

.power-menu-popup .profile-info .profile-email {
  font-size: 13px;
  color: #ccc;
  /* text-transform: uppercase; */
  /* color: rgb(0, 208, 255); */
}

.power-menu-popup .button.force-shutdown .label,
.power-menu-popup .button.force-restart .label {
  /* font-size: 14px; */
}
